body {
    margin: 0;
    padding: 0  ;
}
#main {
    width: 1571px;
    height: 1000px;
}
.button_red {
    background-color: red;
    width: 20%;
    height: 40px;
    margin: 20px;
}
.button_green {
    background-color: green;
    width: 20%;
    height: 40px;
    margin: 20px;
}
.button_blue {
    background-color: blue;
    width: 20%;
    height: 40px;
    margin: 20px;
}
.button_yellow {
    background-color: yellow;
    width: 20%;
    height: 40px;
    margin: 20px;
}